
body { 
    background: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_960_720.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Roboto Condensed', sans-serif ;
  }

/* Class Selectors */
.main-header{
    background-color:#008aff;
    color:white;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.city-search-div{
    background-color: #008aff;
    padding: 20px;
    margin-right: 10px;
    height: 100%;
    margin-bottom: 18px;
    border-radius: 18px;
    border: inset #00fff9 4px;
}

.city-index{
    background-color: #008aff;
    padding: 20px;
    margin-right: 10px;
    height: 100%;
    margin-bottom: 18px;
    border-radius: 18px;
    border: inset #00fff9 4px;
}


.city-info{
    background-color: aqua;
    padding:20px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.city-forecast{
    background-color: blueviolet;
    padding:20px;
    margin-right: 10px;
}

.searched-header{
    font-size: 25px;
    color: #00fff9;
    border-bottom: solid #00fff9 2px;
}